#siteMigrateModal {
    position: fixed;
    top: 8vh;
    width: calc(90vw - 40px);
    left: 50%;
    padding: 20px;
    display: none;
    box-shadow: 0 1px 4px 2px #424242;
    text-align: center;
    margin-left: -45vw;
    border-radius: 15px;
    background-color: #489445;
    z-index: 1100;
}

#siteMigrateModal a {
    text-decoration: none;
    color: white;
}

#siteMigrateModal p {
    color: #212529;
    display: inline;
}

.github-card {
    margin: 0 auto;
    width: 400px;
    position: relative;
}

noscript {
    background-color: red;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    margin: 0 auto;
    z-index: 100;
}

.outline-shadow {
    box-shadow: 0 0 3pt 2pt #565656;
    margin-bottom: 10px;
}

.loading-img {
    height: 150px;
    width: auto;
}

#github-scraper-code {
    display: none;
}

#references-masonry {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid black;
}